<%= render partial: 'recipe_details', locals: {recipe: @recipe, foods: @recipe.foods} %>

<div>
  <%= link_to "Back to recipes", recipes_path %>
  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>
