<div class="shopping_list">
<h1>Shopping List</h1>
<div class="shopping_list_details">
<h3><%="Amount of food items to buy: #{@foods.count}" %></h3>
<h3><%="Total value of food needed: $#{@recipe.total_price}" %></h3>
</div>
<table>
<thead>
<th>Food</th>
<th>Quantity</th>
<th>Price</th>
</thead>
<tbody>
<%@foods.each do |food|%>
<tr><%=render partial: "recipes/food", locals:{food:food,recipe:@recipe}%></tr>
<%end%>
</tbody>
</table>
</div>